<%- include('partials/header'); -%>

  <div class="container">
    <section class="dashboard">
      <h1>DASHBOARD</h1>
      <div class="container">
        <a href="/create" class="dashboard__create"><i class='bx bx-briefcase'></i></i>Create a new job offer</a>
      </div>
      <div class="dashboard__archives"><i class='bx bxs-chevrons-right'></i>
        <a href="/archives" class="archives-link">Go To Archives</a>
      </div>

      <form id="filter-form" action="/dashboard" method="GET">
        <label for="filter">Filter by :</label>
        <select name="filter" id="filter">
          <option value="status">Status</option>
          <option value="date">Date</option>
        </select>

        <label for="order">Order :</label>
        <select name="order" id="order">
          <option value="asc">Asc.</option>
          <option value="dsc">Desc.</option>
        </select>
        <button class="dashboard__filter"><i class='bx bx-sort-alt-2'></i></button>
      </form>


      <% if (offers.length) { %>
        <h3>My Offers</h3>
        <div id="dashboard-grid" class="dashboard__grid">
          <% offers.forEach((offer)=> { %>
            <% if(offer.offerStatus !=="Archive" ) { %>
              <div class="dashboard__card">
                <p class="offerStatus">
                  <%= offer.offerStatus %>
                </p>
                <h4>
                  <%= offer.jobTitle %>
                </h4>
                <p>
                  <%= offer.employerName %>
                </p>
                <a href="/offers/<%= offer._id %>" class="more"><i class='bx bx-plus'></i></a>

                <dialog id="openDialog">
                  <button id="closeDialog">X</button>
                  <div class="dialog__content">
                    <div class="dashboard__offer">
                      <p class="dashboard__offer--title">
                        <%= offer.jobTitle %>
                      </p>
                      <p class="dashboard__offer--url">
                        <span>URL:</span> <a href="<%= offer.url %>">
                          <%= offer.url %>
                        </a>
                      </p>
                      <p class="dashboard__offer--name"><span>Employer Name:</span>
                        <%= offer.employerName %>
                      </p>
                      <p class="dashboard__offer--email"><span>Email:</span>
                        <%= offer.employerEmail %>
                      </p>
                      <p class="dashboard__offer--phone"><span>Phone Number:</span>
                        <%= offer.employerPhone %>
                      </p>
                      <p class="dashboard__offer--address"><span>Address:</span>
                        <%= offer.employerAddress %>
                      </p>
                      <p class="dashboard__offer--origin"><span>Origin:</span>
                        <%= offer.offerOrigin %>
                      </p>
                      <p class="dashboard__offer--status"><span>Status:</span>
                        <%= offer.offerStatus %>
                      </p>
                      <p class="dashboard__offer--comments"><span>Comments:</span>
                        <%= offer.comments %>
                      </p>
                    </div>
                    <div class="dashboard__offer--menu">
                      <a href="/update/<%= offer._id %>"><i class='bx bx-edit'></i></a>
                      <form id="archive-form" action="/archives/<%= offer._id %>" method="POST">
                        <input type="submit" value="Archive" />
                      </form>
                      <a href="/delete/<%= offer._id %>">DELETE</a>
                    </div>
                  </div>
                </dialog>
              </div>
              <% } %>
                <% }); %>
        </div>

        <% } else { %>
          <p>No offer found.</p>
          <% } %>

    </section>
  </div>


  <%- include('partials/footer'); -%>

    <script>
      document.querySelector('#filter-form').addEventListener('submit', async (e) => {
        e.preventDefault();

        let url = '/dashboard?' + new URLSearchParams(new FormData(e.target)).toString();

        let response = await fetch(url, {
          method: 'GET'
        });

        let html = await response.text();

        document.querySelector('body').innerHTML = html;
      });

      /*-----Dialog-----*/
      const links = document.querySelectorAll('.more');
      const dialog = document.querySelector('#openDialog');
      const closeButton = document.querySelector('#closeDialog');

      links.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          dialog.showModal();
          dialog.classList.add('open');
        });
      });

      closeButton.addEventListener('click', () => {
        dialog.classList.remove('open');
        setTimeout(() => dialog.close(), 300);
      });

    </script>