<%- include('partials/header'); -%>

  <div class="container">
    <section class="dashboard">
      <h1>DASHBOARD</h1>
      <div class="container">
        <a href="/create" class="dashboard__create"><i class='bx bx-briefcase'></i></i>Create a new job offer</a></p>
      </div>
      <a href="/archives" class="dashboard__archives"><i class='bx bxs-chevrons-right'></i>Go To Archives</a></p>

      <form id="filter-form" action="/dashboard" method="GET">
        <label for="filter">Filter by :</label>
        <select name="filter" id="filter">
          <option value="status">Status</option>
          <option value="date">Date</option>
        </select>

        <label for="order">Order :</label>
        <select name="order" id="order">
          <option value="asc">Asc.</option>
          <option value="dsc">Desc.</option>
        </select>
        <input type="submit" value="Filter" />
      </form>


      <% if (offers.length) { %>
        <h3>My Offers</h3>
        <div id="dashboard-grid" class="dashboard__grid">
          <% offers.forEach((offer)=> { %>
            <% if(offer.offerStatus !=="Archive" ) { %>
              <div class="dashboard__card">
                <p class="offerStatus">
                  <%= offer.offerStatus %>
                </p>
                <h4>
                  <%= offer.jobTitle %>
                </h4>
                <p>
                  <%= offer.employerName %>
                </p>
                <a href="/offers/<%= offer._id %>" class="more"><i class='bx bx-plus'></i></a>
                <dialog id="openDialog">
                  <button id="closeDialog">X</button>
                  <p>
                    <%= offer.jobTitle %>
                  </p>
                  <p>
                    <%= offer.url %>
                  </p>
                  <p>
                    <%= offer.employerName %>
                  </p>
                  <p>
                    <%= offer.employerEmail %>
                  </p>
                  <p>
                    <%= offer.employerPhone %>
                  </p>
                  <p>
                    <%= offer.employerAddress %>
                  </p>
                  <p>
                    <%= offer.offerOrigin %>
                  </p>
                  <p>
                    <%= offer.offerStatus %>
                  </p>
                  <p>
                    <%= offer.comments %>
                  </p>
                  <a href="/update/<%= offer._id %>">Update</a>
                  <form id="archive-form" action="/archives/<%= offer._id %>" method="POST">
                    <input type="submit" value="Archive" />
                  </form>
                  <a href="/delete/<%= offer._id %>">DELETE</a>
                </dialog>
              </div>
              <% } %>
                <% }); %>
        </div>

        <% } else { %>
          <p>No offer found.</p>
          <% } %>

    </section>
  </div>


  <%- include('partials/footer'); -%>

    <script>
      document.querySelector('#filter-form').addEventListener('submit', async (e) => {
        e.preventDefault();

        let url = '/dashboard?' + new URLSearchParams(new FormData(e.target)).toString();

        let response = await fetch(url, {
          method: 'GET'
        });

        let html = await response.text();

        document.querySelector('body').innerHTML = html;
      });

      /*-----Dialog-----*/
      const links = document.querySelectorAll('.more');
      const dialog = document.querySelector('#openDialog');
      const closeButton = document.querySelector('#closeDialog');

      links.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          dialog.showModal();
          dialog.classList.add('open');
        });
      });

      closeButton.addEventListener('click', () => {
        dialog.classList.remove('open');
        setTimeout(() => dialog.close(), 300);
      });

    </script>