<%- include('partials/header'); -%>

  <div class="container">
    <section class="dashboard">
      <h1>Dashboard</h1>
      <div class="container btn-create">
        <a href="/create" class="dashboard__create"><i class='bx bx-briefcase'></i></i>Create a new job offer</a>
      </div>
      <div class="dashboard__archives"><i class='bx bxs-chevrons-right'></i>
        <a href="/archives" class="archives-link">Go To Archives</a>
      </div>

      <form id="filter-form" action="/dashboard" method="GET">
        <div class="form-group">
          <label for="filter">Filter by: </label>
          <select name="filter" id="filter">
            <option value="status">Status</option>
            <option value="date">Date</option>
          </select>
        </div>

        <div class="form-group">
          <label for="order">Order: </label>
          <select name="order" id="order">
            <option value="asc">Asc.</option>
            <option value="dsc">Desc.</option>
          </select>
        </div>

        <button class="dashboard__filter"><i class='bx bx-sort-alt-2'></i></button>
      </form>


      <% if (offers.length) { %>
        <h3>My Offers</h3>
        <div id="dashboard-grid" class="dashboard__grid">
          <% offers.forEach((offer)=> { %>
            <% if(offer.offerStatus !=="Archive" ) { %>
              <div class="dashboard__card">
                <p class="offerStatus">
                  <%= offer.offerStatus %>
                </p>
                <h4>
                  <%= offer.jobTitle %>
                </h4>
                <p>
                  <%= offer.employerName %>
                </p>
                <a href="/offers/<%= offer._id %>" id="link-<%= offer._id %>" class="more"><i
                    class='bx bx-plus'></i></a>

                <dialog id="dialog-<%= offer._id %>" class="openDialog">
                  <button class="closeDialog">X</button>
                  <div class="dialog__content">
                    <div class="dashboard__offer">
                      <p class="dashboard__offer--title">
                        <%= offer.jobTitle %>
                      </p>
                      <p class="dashboard__offer--url">
                        <span>URL:</span> <a href="<%= offer.url %>">
                          <%= offer.url %>
                        </a>
                      </p>
                      <p class="dashboard__offer--name"><span>Employer Name:</span>
                        <%= offer.employerName %>
                      </p>
                      <p class="dashboard__offer--email"><span>Email:</span>
                        <%= offer.employerEmail %>
                      </p>
                      <p class="dashboard__offer--phone"><span>Phone Number:</span>
                        <%= offer.employerPhone %>
                      </p>
                      <p class="dashboard__offer--address"><span>Address:</span>
                        <%= offer.employerAddress %>
                      </p>
                      <p class="dashboard__offer--origin"><span>Origin:</span>
                        <%= offer.offerOrigin %>
                      </p>
                      <p class="dashboard__offer--status"><span>Status:</span>
                        <%= offer.offerStatus %>
                      </p>
                      <p class="dashboard__offer--comments"><span>Comments:</span>
                        <%= offer.comments %>
                      </p>
                    </div>

                    <div class="dashboard__offer--menu">
                      <form class="btn-form update" action="/update/<%= offer._id %>" method="GET">
                        <button><i class='bx bx-edit'></i></button>
                      </form>
                      <form class="btn-form archive" action="/archives/<%= offer._id %>" method="POST">
                        <button><i class='bx bx-archive'></i></button>
                      </form>
                      <form class="btn-form delete" action="/delete/<%= offer._id %>" method="GET">
                        <button><i class='bx bx-trash'></i></button>
                      </form>
                    </div>

                  </div>
                </dialog>
              </div>
              <% } %>
                <% }); %>
        </div>

        <% } else { %>
          <p>No offer found.</p>
          <% } %>

    </section>
  </div>


  <%- include('partials/footer'); -%>

    <script>
      document.querySelector('#filter-form').addEventListener('submit', async (e) => {
        e.preventDefault();

        let url = '/dashboard?' + new URLSearchParams(new FormData(e.target)).toString();

        let response = await fetch(url, {
          method: 'GET'
        });

        let html = await response.text();

        document.querySelector('body').innerHTML = html;

        addColorClasses();
      });

      /*-----Dialog-----*/
      const links = document.querySelectorAll('.more');

      links.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          const dialogId = 'dialog-' + e.target.id.split('-')[1];
          const dialog = document.querySelector('#' + dialogId);
          dialog.showModal();
          dialog.classList.add('open');
        });
      });

      const closeButtons = document.querySelectorAll('.closeDialog');
      closeButtons.forEach(button => {
        button.addEventListener('click', () => {
          const openDialog = button.parentElement;
          openDialog.classList.remove('open');
          setTimeout(() => openDialog.close(), 300);
        });
      });

      /*-----Status Color-----*/
      const statusMapping = {
        'Interested': 1,
        'Resume sent': 2,
        'Interview': 3,
        'Negative': 4,
        'Archive': 5
      };

      const addColorClasses = () => {
        const cards = document.querySelectorAll('.dashboard__card');

        cards.forEach(card => {
          const offerStatus = card.querySelector('.offerStatus').textContent.trim();
          const offerStatusNumber = statusMapping[offerStatus];
          const moreButton = card.querySelector('.more');

          card.classList.add(`offerStatus-${offerStatusNumber}`);
          moreButton.classList.add(`offerStatus-${offerStatusNumber}`);
        });
      }

      addColorClasses();

    </script>