<%- include('partials/header'); -%>

<a href="/">Back to the dashboard</a>
<h1>OFFER</h1>
<hr>
<div id="offer">
    <p><%= offer.jobTitle %></p>
    <p><%= offer.url %></p>
    <p><%= offer.employerName %></p>
    <p><%= offer.employerEmail %></p>
    <p><%= offer.employerPhone %></p>
    <p><%= offer.employerAddress %></p>
    <p><%= offer.offerOrigin %></p>
    <p><%= offer.offerStatus %></p>
    <p><%= offer.comments %></p>
    <a href="/update/<%= offer._id %>">UPDATE</a>

</div>

<%- include('partials/footer'); -%>