<%- include('partials/header'); -%>

    <div class="container">
        <section class="profile">
            <div class="dashboard__back"><i class='bx bxs-chevrons-left'></i>
                <a href="/dashboard" class="dashboard-link">Back To The Dashboard</a>
            </div>
            <h1>My profile</h1>

            <div class="profile__content">
                <div class="profile__picture">
                    <img src="<%= user.profilePicture %>" alt="profile picture">
                </div>
                <div class="profile__info">
                    <p class="profile__fullName"><span>Full name:</span>
                        <%= user.firstName %>
                            <%= user.lastName %>
                    </p>
                    <p class="profile__email"><span>Email:</span>
                        <%= user.email %>
                    </p>
                    <p class="profile__github"><span>GitHub:</span>
                        <a href="<%= user.github %>" target="_blank" class="dashboard-link">
                            <%= user.github %>
                        </a>
                    </p>

                    <div class="profile__buttons">
                        <button class="profile__buttons--btn">Download Resume <%= user.resume %></button>
                        <button class="profile__buttons--btn">Upload New Resume</a></button>
                        <button class="profile__buttons--btn">Change password</a></button>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <%- include('partials/footer'); -%>